.Drawercomp {
   
    display:flex;
    flex-direction: column;
    /* z-index: 1; */
    margin-top:490px;
    width: 100%;
    border-top: 2px solid rgb(215, 205, 181);
    /* border-bottom: 1px solid rgb(134, 131, 128); */
   
  
    


}

.Drawercomp a{
   
   background-color:rgb(255, 255, 255,0.8);
   width:100%;
   text-align: center;
   padding:20px;
   margin:1px;
   color: --color-bg-variant;
   /* border : solid 1px rgb(129, 119, 119); */



}

.Drawercomp a:hover{

    /* color: var(--color-black);
    border-bottom: solid 3px rgb(215, 205, 181);
    font-size:1.2rem;
    background: rgb(196, 192, 192,0.2) ; */
    align-items:none;
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
    
   

 
 
 
 }

 .Drawercomp #Estimate_button {
     
    background-color: rgb(215, 205, 181) ;
    /* padding:1rem ; */
    /* font-size:1.2rem; */
    width:95%;
    display: inline-block;
    color: var(--color-black);
    padding: 0.75rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-black);
    transition: var(--transition);
  margin: 0 auto;

   }

   .Drawercomp #Estimate_button:hover{
     
    background-color: rgb(196, 192, 192,0.2)  ;
    }